.wrapper {
    color: wheat;
    z-index: 5;
    
}
.selectWrapper{
    max-width: 1300px;
    margin: auto;
    margin-bottom: 10px;
}

.ant-input {
    margin-bottom: 20px;
}

.pagination {
    text-align: center;
}

.search__genres{
    color: black;
    flex: 0 0 45%;
}

