.menu_wrapper {
    display: flex;
    width: 600px;
    color: #ffff;
    align-items: center;
    justify-content: space-around;
}

.menu__user{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    position: relative;

    img{
        max-width: 100%;
        max-height: 65px;
        border-radius: 10%;        
    }
}

.menu__welcome{
    padding: 0;
    margin: 0;
}

.menu__nav{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: -10;
    top:-100px;
    right: 45px;
    transition: all .5s ease;
}

.menu__nav_active{
    top: 70px;
    z-index: 1;
}

.menu__toggler{
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all .5s ease;
}

.menu__toggler_reverse{
    transform: rotate(180deg);
}



.signUp{
    color: #fff;
    background: #1890ff;
    border-color: #1890ff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    height: 32px;
    flex: 0 0 35%;
    margin-left: auto;
    padding: 4px 15px;
    font-size: 14px;
    border-radius: 2px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
    user-select: none;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    &:hover{
        background-color: #5babf5;
    }
}

.signIn {
    @extend .signUp;
    background-color: #f55b5b;
    &:hover{
        background-color: #f27777
    }

}
.logOut{
    @extend .signUp;
    margin-top: 5px;
}