.wrapper {
    color: wheat;
    
}

.search {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.search__title{
    color: #fff;
    font-size: 60px;
}

.search__form{
    margin-bottom: 10px;
}

.search__input {
    height: 40px;
    width: 100%;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 25px;
    margin-bottom: 30px;
}

.ant-input {
    margin-bottom: 20px;
}

.pagination {
    text-align: center;
}
