.favorite__movie{
    max-width: 1310px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

.favoriteBtnBack{
  background-color: #000;
  outline: none;
  border: none;
  cursor: pointer;
}
  