.movie-block{
    max-width: 300px;
    height: 850px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 1%;
    -webkit-box-shadow: 0px 0px 35px 0px rgba(0,40,161,1);
    -moz-box-shadow: 0px 0px 35px 0px rgba(0,40,161,1);
    box-shadow: 0px 0px 35px 0px rgba(0,40,161,1);
    text-align: center;
}
.movie-block img {
    max-width: 100%;
    border-radius: 5px;
}

.movie-info{
    color: #fff;
    font-family: 'Arvo', serif;
    text-align: left;
}
.movie-title{
    color: #fff;
    text-align: center;
    height: 100px;
    padding-top: 10px;
    font-family: 'Arvo', serif;
    font-weight: 700;
    font-size: 20px;
}


.movie__button-wrapper{
    display: flex;
    max-width: 100%;
    justify-content: space-between;
}

.movie-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Arvo', serif;
}

.progress-wrapper{
    display: inline-block;
    max-width: 70px;
}

.ellipsis {
    overflow: hidden;
    height: 200px;
    line-height: 25px;
}
.ellipsis:before {
	content:"";
	float: left;
	width: 5px; height: 200px; }

.ellipsis > *:first-child {
	float: right;
	width: 100%;
	margin-left: -5px; }		

.ellipsis:after {
	content: "\02026";  
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	float: right; position: relative;
	top: -25px; left: 100%; 
	width: 3em; margin-left: -3em;
	padding-right: 5px;

	text-align: right;

}

.movie-data{
    margin-top: 10px;
    font-family: 'Arvo', serif;
}


@media screen and (max-width:1024px) {
    .movie-block{max-width: 260px;}
}


.wrapper{
    display: flex;
    justify-content: space-around;
}
